* {
    font: Helvetica;
    font-size: 20px;
    padding: 5px;
}

body {
    background-color: #f5f293;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(233, 112, 112);
    border: 1px solid black;
    margin: auto;
}

footer {
    font-size: 20px;
    text-align: center;
}

section {
    margin: auto;
    background-color: rgb(92, 90, 90);
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li.checked button {
    text-decoration: none;
}

ul li.checked {
    background-color: #706f6f;
    color: white;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

div {
    border: 1px solid black;
    border-top: none;
}

#content {
    background-color: white;
    height: 450px;
}

#addItem {
    background-color: rgb(128, 124, 124);
    display: flex;
}

#text {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.404);
    border-top: 1px solid black;
}

button {
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.404);
}

input {
    border: 1px solid black;
}

ul li {
    margin: auto;
    cursor: pointer;
    position: relative;
    padding: 2px 8px 3px 40px;
    list-style-type: none;
    background: #d1d1d1;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 16px 9px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}